<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- (선택) 인터넷 권한: 나중에 Firebase/공공데이터 API 붙일 거면 미리 넣어두는 게 안전 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TimeCatch"
        tools:targetApi="31">

        <!-- ✅ 앱 실행 시 처음 뜨는 화면(런처) -->
        <activity
            android:name=".GroupCreateActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity는 남겨두되, 런처 아님 -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

    </application>

</manifest>
